div.userDemProfilefield{
	position: absolute;
	bottom: 5px;
	left: 41%;
}
div.userDemProfilefield a .fa-qrcode{
	font-size: 50px;
}
div.userDemProfilefield a i.fa-qrcode img{
	position: absolute;
	left: 6px;
	top: 9px;
}
div.userDemProfilefield a i.fa-qrcode:hover{
	color: #e8be74;
}
div.teamDemProfilefield{
	position: absolute;
}
div.teamDemProfilefield a .fa-qrcode{
	font-size: 50px;
}
div.teamDemProfilefield a i.fa-qrcode img{
	position: absolute;
	left: 6px;
	top: 9px;
}
div.teamDemProfilefield a i.fa-qrcode:hover{
	color: #e8be74;
}
